<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgotten</title>
</head>
<body>
  <form action="/handleEnquette" method="post" id="enquette" hash=<%=hash %>>
    <h1>Deze ben je vergeten, <%= name %> </h1>
    <% for (var key in renderData) { %>
      <fieldset>
        <legend><%= renderData[key].section %></legend>
          <% for (var j=0; j < renderData[key].data.length; j++) { %>
            <% if (renderData[key].data.type == 'textarea') { %>
              <textarea name="<%= renderData[key].data.titles.short %>-eigeninzichten" id="<%= renderData[key].data.titles.short %>-eigeninzichten"  required placeholder="<%= renderData[key].data.placeholder %>" cols="30" rows="10"></textarea>
            <% } else {%>
              <label for="<%= renderData[key].data.titles.short %>"><%= renderData[key].data.titles.title %>:</label>
              <input type="<%= renderData[key].data.type %>" name="<%= renderData[key].data.titles.short %>" id="<%= renderData[key].data.titles.short %>" placeholder="<%= renderData[key].data.placeholder %>" pattern="<%= renderData[key].data.pattern %>" required>
            <% } %>
          <% } %>
          <input type="hidden" name="oldData" value="<%= oldData %>">
      </fieldset>
    <% } %>
    <button type="submit">Submit</button>
  </form>
</body>
</html>